body {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    background-image: url("bgimg.jpeg");
    background-size: cover;
}
.card-title{
    text-align: center;
    margin-top: 2rem;
}
.card-group{
    margin-top: 7rem;
}
.card:hover {
   border-color: rgba(36, 40, 48, 0.7);
   box-shadow: 0px 0px 10px 2px rgba(22, 26, 31, 0.6);
   transform: scale(1.05);

}
.card{
   transition: border-color 1s, box-shadow 0.5s;
   transition: transform 0.4s ease;
   margin-top: 5rem;
   margin-left: 25rem;
}

.img-preview {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 256px;
    height: 256px;
    position: relative;
    border: 5px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    margin-bottom: 1em;    
}

.img-preview>div {
    width: 100%;
    height: 100%;
    background-size: 256px 256px;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="file"] {
    display: none;
}

.upload-label{
    margin-left: 6.5rem;
    display: inline-block;
    padding: 12px 30px;
    background: #39D2B4;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}

.upload-label:hover{
    background: #34495E;
    color: #39D2B4;
}

.loader {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#result{
    text-align: center;
}
#canvas_container {
    width: 800px;
    height: 450px;
    overflow: auto;
}
#canvas_container {
  background: #333;
  text-align: center;
  border: solid 3px;
}
.con {
    width: 820px;
    margin-left: auto ;
    margin-right: auto ;
}